body {
  margin: 0;
  background: black;
  overflow: hidden;
}

canvas {
  display: block;
  background: white;
}

#ui {
  position: absolute;
  top: 10px;
  left: 10px;
}

button {
  padding: 8px 14px;
  margin-right: 5px;
  font-size: 14px;
}
